<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <link rel="icon" href="/assets/images/favicon.png" type="image/png">
  <title>Add</title>

  <!-- BEGIN PAGE LEVEL STYLES -->
  <link href="/assets/plugins/summernote-master/summernote.css" rel="stylesheet" type="text/css" />
  <!-- END PAGE LEVEL STYLES -->
  <link href="/assets/css/icons.css" rel="stylesheet">
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/responsive.css" rel="stylesheet">

  <script src="http://cdn.staticfile.org/vue/2.6.11/vue.min.js"></script>
  <script src="http://cdn.staticfile.org/axios/0.19.2/axios.min.js"></script>
  <script src="http://cdn.staticfile.org/element-ui/2.13.1/index.js"></script>
  <link rel="stylesheet" href="http://cdn.staticfile.org/element-ui/2.13.1/theme-chalk/index.css">
  <script type="text/javascript" th:src="@{/layDate-v5.0.9/laydate/laydate.js}" charset="utf-8"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
          <script src="js/html5shiv.min.js"></script>
          <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body class="sticky-header">


  <!--引入左侧菜单栏-->

  <!-- main content start-->
  <div class="main-content">
    <div th:replace="header :: headerBar"></div>
    <!--body wrapper start-->
    <div class="wrapper">
      <!--Start row-->
      <div class="row">
        <!-- Start inbox widget-->
        <div class="col-md-12">
          <div class="white-box">
            <h2 class="header-title"> Bulletin board </h2>
            <div class="table-responsive">
              <table class="table table-hover">
                <form th:action="@{/active/add}" method="POST">

                  <div class="white-box">
                    <h2 class="header-title"> Detail</h2>
                    <div class="compose-body">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="标题" name="title">
                      </div>
                      <div class="compose-message">
                        <textarea class="summernote" name="message"></textarea>
                      </div>
                      <div class="compose-options">
                        <div class="pull-right">
                          <button class="btn btn-primary" @click="sendMessage()"><i class="fa fa-send"></i>发布</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </table>
            </div>

          </div>
        </div>
        <!-- Start inbox widget-->
      </div>
      <!--End row-->

    </div>
    <!-- End Wrapper-->
    <!--Start  Footer -->
    <div th:replace="footer :: footerBar"></div>
    <!--End footer -->
  </div>
  <!--End main content -->

  <!--Begin core plugin -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/jquery.slimscroll.js "></script>
  <script src="/assets/js/jquery.nicescroll.js"></script>
  <script src="/assets/js/functions.js"></script>
  <!-- End core plugin -->
  <!-- BEGIN PAGE LEVEL SCRIPTS -->
  <script src="/assets/plugins/summernote-master/summernote.min.js"></script>
  <script src="/assets/pages/compose.js"></script>
  <!-- BEGIN PAGE LEVEL SCRIPTS -->
  <script>
    laydate.render({
      elem: '#joinTime',
      theme: 'grid',
      type: 'datetime',
      trigger: 'click'
    });
  </script>

</body>

</html>