<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/assets/images/favicon.png" type="image/png">
    <title>文件上传</title>

    <!--Begin  Page Level  CSS -->
    <link href="/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <!--End  Page Level  CSS -->
    <link href="/assets/css/icons.css" rel="stylesheet">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/webuploader/0.1.5/webuploader.css">
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.5.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.staticfile.org/webuploader/0.1.5/webuploader.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="js/html5shiv.min.js"></script>
          <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body class="sticky-header">


    <!--引入左侧菜单栏-->
    <div th:replace="lefter :: lefterBar(activeUrl='manage')"></div>

    <!-- main content start-->
    <div class="main-content">
        <div th:replace="header :: headerBar"></div>
        <!--body wrapper start-->
        <div class="wrapper">
            <!--Start row-->
            <div class="row">
                <!-- Start inbox widget-->
                <div class="col-md-12">
                    <div class="white-box">
                        <h2 class="header-title"> Projects </h2>
                        <div class="table-responsive">
                            <div id="uploader-demo">
                                <div id="fileList" class="uploader-list"></div>
                                <div id="filePicker">Select the file</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start inbox widget-->
            </div>
            <!--End row-->

        </div>
        <!-- End Wrapper-->


        <!--Start  Footer -->
        <div th:replace="footer :: footerBar"></div>
        <!--End footer -->

    </div>
    <!--End main content -->



    <!--Begin core plugin -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/moment/moment.js"></script>
    <script src="/assets/js/jquery.slimscroll.js "></script>
    <script src="/assets/js/jquery.nicescroll.js"></script>
    <script src="/assets/js/functions.js"></script>
    <!-- End core plugin -->

    <script type="text/javascript">
        var uploader = WebUploader.create({
            auto: true,
            swf: 'http://cdn.staticfile.org/webuploader/0.1.5/Uploader.swf',
            server: '/upload',
            pick: '#filePicker',
            accept: {
                title: 'file',
            }
        });

        uploader.on('fileQueued', function (file) {
            var $li = $(
                '<div id="' + file.id + '" class="file-item thumbnail">' +
                '<img>' +
                '<div class="info">' + file.name + '</div>' +
                '</div>'
            ),
                $img = $li.find('img');

            var $list = $("#fileList");
            $list.append($li);

            uploader.makeThumb(file, function (error, src) {
                if (error) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }
                $img.attr('src', src);
            }, 100, 100);
        });

        uploader.on('uploadProgress', function (file, percentage) {
            var $li = $('#' + file.id),
                $percent = $li.find('.progress span');

            if (!$percent.length) {
                $percent = $('<p class="progress"><span></span></p>')
                    .appendTo($li)
                    .find('span');
            }
            $percent.css('width', percentage * 100 + '%');
        });

        uploader.on('uploadSuccess', function (file) {
            $('#' + file.id).addClass('upload-state-done');
        });

        uploader.on('uploadError', function (file) {
            var $li = $('#' + file.id),
                $error = $li.find('div.error');

            if (!$error.length) {
                $error = $('<div class="error"></div>').appendTo($li);
            }
            $error.text('上传失败');
        });

        uploader.on('uploadComplete', function (file) {
            $('#' + file.id).find('.progress').remove();
        });
    </script>




</body>

</html>